*{
    user-select: none;
    font-family: monospace;
}
body{
    background: radial-gradient(circle, rgb(37, 14, 65) 0%,  rgb(23, 7, 41) 100%) ;
    margin: auto;
}

#point{
    width: 50px;
    height: 50px;
    background-color: rgb(120, 163, 222);
    border: 10px solid rgb(96, 136, 192);
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    transition: 0.3 ease;
}
#startGame{
    background-color: rgb(131, 50, 231);
    border: 4px solid rgb(101, 37, 180);
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color:rgb(63, 18, 118);

}
